            #diagramContainer {
            padding: 80px;
            width:900; height: 400px;
            border: 1px blue;
        }
        
        .item {
            height:80px; width: 200px;
            border: 1px solid white;
            float: left;
            background: white;
            position:relative;
        }   